header{
    height: 100vh; /*vh correspond to viewport height*/
    padding-top: 7rem;
    overflow: hidden;
}

/*Presentation*/
.header_container{
    height: 100%;
    text-align: center;
    position: relative;
}

/*telecharger le CV et contact*/
.contacter{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/*reseaux sociaux*/
.reseaux_sociaux{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}
.reseaux_sociaux::after{ /*le after nous permet de mettre une barre verticale a la fin des iconnes*/
    content: "";
    width: 2px;
    height: 2rem;
    background: var(--colorPrimary);
}
.scroll{
    position: absolute;
    right: -2rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 1.0rem;
}

/*MOI*/
.MOI{
    background: linear-gradient(var(--colorPrimary),transparent);
    width: 22rem;
    height: 38rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 11rem 11rem 0 0;
    overflow: hidden;
    padding: 0rem 1.5rem 1.5rem 1.5rem;
}

/*differentes vues sur differents appareils*/
@media screen and(max-width:1024px) { /*pour les medias comme des tabletes*/
header{
    height:68vh
}}


@media screen and(max-width:600px) { /*pour les petits medium ex: telephones*/
header{
    height:100vh
}
.reseaux_sociaux, .scroll{ 
    display: none;
}}
